body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #baf1e1;
}

#nav-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7.5px 15px;
  background-color: #f4938a;
}

.header-fix {
  display: none;
}

#nav-pc {
  display: none;
}

#pc-left {
  display: none;
}

#pc-right {
  display: none;
}

main {
  padding: 0 15px;
  height: 80vh;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fa3c5d;
  padding: 3vw 5vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#menu {
  height: 5vw;
  padding: 1vw;
}

#notification-bell {
  height: 5vw;
  padding: 1vw;
}

.logo-1 {
  font-family: 'Lato', sans-serif;
  font-size: 37px;
  color: #fa3c5d;
}

.logo-2 {
  height: 50px;
}

.logo-3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #baf1e1;
}

#profiles-reel {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5vw;
}

#main-picture {
  width: 90vw;
  margin-top: 2.5vw;
  border: 5px solid #fa3c5d;
  border-radius: 10px;
}

#profile-details {
  width: 75vw;
  margin: 0 auto;
  position: relative;
  top: -20vw;
  background-color: #fc6c8bd0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: 2.5px solid	#48b9a8;
  box-shadow: 1px 1px 1px 1px #222, inset 2.5px 3px rgba(34, 34, 34, 0.5);
  padding: 2.5vw;
}

#profile-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 6vw;
  color: #baf1e1;
  padding: 1.5vw;
}

#profile-location {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 6vw;
  color: #baf1e1;
  padding: 1.5vw;
}

#profile-more {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 5vw;
  font-weight: 700;
  font-style: italic;
  color: #368d80;
  border-top: 1.5px solid gray;
  padding: 2.5vw 0;
}

#add-user {
  height: 6vw;
  background-color: #baf1e1;
  padding: 1.5vw;
  margin-top: 1.5vw;
  margin-right: 1.5vw;
  border-radius: 100%;
  border: 2.5px solid	#48b9a8;
  box-shadow: 1px 1px 1px 1px #222, inset 1px 1.5px rgba(34, 34, 34, 0.5);
}

#profile-close {
  height: 6vw;
  background-color: #baf1e1;
  padding: 1.5vw;
  border-radius: 100%;
  border: 2.5px solid	#48b9a8;
  box-shadow: 1px 1px 1px 1px #222, inset 1px 1.5px rgba(34, 34, 34, 0.5);
}

.reel-picture {
  height: 20vw;
  width: 20vw;
  border-radius: 10px;
  border: 2.5px solid	#48b9a8;
  box-shadow: 1px 1px 1px 1px #222, inset 2.5px 3px rgba(34, 34, 34, 0.5);
}

.footer-icon {
  height: 9vw;
}

.active-footer {
  height: 7.5vw;
  background-color: #f4938a;
  padding: 2.5px;
  border-radius: 100%;
  border: 2.5px solid	#48b9a8;
  box-shadow: 1px 1px 1px 1px #222, inset 1px 1.5px rgba(34, 34, 34, 0.5);
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #nav-mobile {
    display: none;
  }

  #nav-pc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4938a;
    padding: 1.5vw 2vw;
  }

  #location-nav {
    display: flex;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  #pc-left {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    padding: 1.5vw;
  }

  #profile-card {
    display: flex;
    flex-direction: column;
    background-color: #f4938a;
    border-radius: 10px;
    border: 2.5px solid	#48b9a8;
    box-shadow: 1px 1px 1px 1px #222, inset 2.5px 3px rgba(34, 34, 34, 0.5);
  }

  #user-picture {
    height: 6vw;
    width: 6vw;
    border: 1px solid #fa3c5d;
    border-radius: 10px;
    margin: 1vw;
  }

  #user-name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 700;
  }

  #user-premium {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11px;
    font-style: italic;
  }

  #user-premium a {
    color: #368d80;
  }

  #heart-number {
    background-color: #fa3c5d;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 900;
    padding: 1vw;
    border-radius: 10px;
  }

  #premium-btn {
    font-family: 'Lato', sans-serif;
    color: #baf1e1;
    border: 1px solid	#48b9a8;
    border-radius: 10px;
    background-color: #fc6c8c;
    padding: 5px 2px;
    margin-left: 1vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #left-ul {
    padding: 2.5px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2.5px solid	#48b9a8;
    box-shadow: 1px 1px 1px 1px #222, inset 1px 1.5px rgba(34, 34, 34, 0.5);
    background-color: #f4938a;
  }

  #mobile-main {
    grid-column: 2 / 3;
  }

  #main-picture {
    width: 35vw;
  }

  #pc-right {
    display: flex;
    flex-direction: column;
    grid-column: 3 / 4;
    padding: 1.5vw;
  }

  #premium-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5vw;
    border-radius: 10px;
    border: 2.5px solid	#48b9a8;
    box-shadow: 1px 1px 1px 1px #222, inset 1px 1.5px rgba(34, 34, 34, 0.5);
    background-color: #f4938a;
  }

  #premium-right-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
  }

  #premium-right-row-1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 13px;
  }

  #premium-right-row-2 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 11px;
    color: #2928287e;
  }

  #package-btn {
    font-family: 'Lato', sans-serif;
    color: #baf1e1;
    border: 1px solid	#48b9a8;
    border-radius: 10px;
    background-color: #fc6c8c;
    padding: 5px 2px;
    margin-left: 1vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5vw;
    margin: 10px 0;
    border-radius: 10px;
    border: 2.5px solid	#48b9a8;
    box-shadow: 1px 1px 1px 1px #222, inset 1px 1.5px rgba(34, 34, 34, 0.5);
    background-color: #f4938a;
    font-family: 'Montserrat', sans-serif;
  }

  footer {
    display: none;
  }

  #profile-details {
    display: none;
  }

  #profile-info-pc {
    width: 22vw;
    display: flex;
    flex-wrap: wrap;
    padding: 2.5vw;
    margin: 0 auto;
    background-color: #f4938a;
    border-radius: 10px;
    border: 2.5px solid	#48b9a8;
    box-shadow: 1px 1px 1px 1px #222, inset 2.5px 3px rgba(34, 34, 34, 0.5);
  }
  
  #gift-section {
    display: flex;
    justify-content: space-around;
    padding-top: 2.5vw;
  }
  
  #gift-icon {
    height: 2.5vw;
    padding: 1.5vw;
  }
  
  #gift-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5vw;
    padding-left: 1vw;
  }
  
  #gift-p {
    color: #fa3c5d;
    font-weight: 700;
  }
  
  #gift-anchor {
    font-style: italic;
    color: #368d80;
  }

  .nav-logo {
    height: 2.5vw;
    padding: 1vw;
  }

  .pc-icon-sizing {
    height: 3.5vw;
    padding: 1vw;
  }

  .profile-row {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5vw;
  }
  
  .left-nav {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: #2928287e;
  }

  .info-grouping {
    padding: 1.5vw;
  }
  
  .category {
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
    color: #368d80;
  }
  
  .info {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    padding-top: 1.5vw;
  }

  .reel-picture {
    height: 7.5vw;
    width: 7.5vw;
    border-radius: 5px;
    border: 2.5px solid	#48b9a8;
    box-shadow: 1px 1px 1px 1px #222, inset 2.5px 3px rgba(34, 34, 34, 0.5);
  }
}
