#nav-pc {
  display: none;
}

#mobile-nav {
  display: none;
}

#pc-left {
  display: none;
}

#inbox {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 1.5vw;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 1px 2px rgba(34, 34, 34, 0.5);
}

#inbox-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 1.5vw;
}

#inbox-search {
  height: 40px;
  padding: 1.25vw;
  margin-right: 1vw;
}

#inbox-input {
  height: 40px;
  width: auto;
  padding: 0 0.75vw;
  border: none;
}

#inbox-input::placeholder {
  color: #222;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
}

#new-chat {
  height: 40px;
  padding: 1.25vw;
  margin-left: 1vw;
}

#chat-list {
  display: flex;
  flex-direction: column;
}

#active-conversation {
  display: none;
}

#conversation-footer {
  display: none;
}

#mobile-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 3vw 5vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-fix {
  display: none;
}

.footer-icon {
  height: 40px;
}

.chat {
  display: flex;
  height: auto;
  padding: 0.75vw 1.5vw;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.5vw;
}

.inbox-profile {
  height: 45px;
  width: 45px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 1px 2px rgba(34, 34, 34, 0.5);
}

.chat-info {
  padding: 0.75vw;
}

.chat-recipient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75vw;
}

.username {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #222;
}

.last-message {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 11px;
  color: rgba(34, 34, 34, 0.5);
}

.chat-content {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  color: #5e5b5b;
  padding: 0.5vw;
}

.chat-footer-icon {
  height: 5vw;
}

.active-footer {
  height: 40px;
  background-color: #5355ca;
  padding: 5px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 1px 1px #222, inset 1px 1.5px rgba(34, 34, 34, 0.5);
}

body {
  background-color: #f8f8f8;
  overflow: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 1024px) {
  #nav-pc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 1px 2px rgba(34, 34, 34, 0.5);
    padding: 1.5vw 2vw;
  }

  #location-nav {
    display: flex;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  #pc-left {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    height: 75vh;
    padding: 1.5vw;
  }

  #profile-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 1px 2px rgba(34, 34, 34, 0.5);
  }

  #user-picture {
    height: 6vw;
    width: 6vw;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 1px 2px rgba(34, 34, 34, 0.5);
    margin: 1vw;
  }

  #user-name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 700;
  }

  #user-premium {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11px;
    font-style: italic;
    display: flex;
    justify-content: space-around;
    padding: 0.5vw;
    margin-right: 0.25vw;
  }

  #user-premium a {
    color: #5355ca;
  }

  #heart-number {
    color: #222;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 900;
    padding: 1vw;
    border-radius: 10px;
  }

  #premium-btn {
    font-family: 'Lato', sans-serif;
    color: #fff;
    border-radius: 10px;
    background-color: #5355ca;
    padding: 0.5vw;
    margin-left: 1vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #left-ul {
    padding: 2.5px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 1px 2px rgba(34, 34, 34, 0.5);
  }

  #user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #inbox {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  #inbox-search {
    height: 25px;
  }

  #inbox-input {
    height: 25px;
    width: 140px;
  }

  #new-chat {
    height: 25px;
  }

  #active-conversation {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    height: 100vh;
    margin: 1.5vw 1.5vw 0 1.5vw;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
  }

  #mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 1px 2px rgba(34, 34, 34, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  #back {
    height: 2.5vw;
    padding: 1vw;
  }

  #recipient {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: 900;
    color: #222;
  }

  #call {
    height: 2.5vw;
    padding: 1vw;
  }

  #conversation {
    height: 85vh;
    align-items: flex-end;
    padding: 1.5vw 2.5vw 0 2.5vw;
    font-size: 11px;
  }

  #message-fix {
    display: none;
  }

  #conversation-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5vh;
    padding: 0.5vw;
    background-color: #fff;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #conversation-input {
    padding: 10px;
    border: none;
    color: #fff;
    width: 17.5vw;
  }

  #conversation-input::placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    color: #141414;
  }

  #mobile-footer {
    display: none;
  }

  .nav-logo {
    height: 2.5vw;
    padding: 1vw 1.5vw;
  }

  .logo-1 {
    font-family: 'Lato', sans-serif;
    font-size: 37px;
    color: #434565;
  }

  .logo-2 {
    height: 50px;
  }

  .logo-3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #434565;
  }

  .profile-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5vw;
  }

  .left-nav {
    display: flex;
    align-items: center;
    padding: 0.5vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    color: #222;
  }

  .left-nav-icons {
    height: 1.5vw;
  }

  .pc-icon-sizing {
    height: 2.5vw;
    padding: 0.25vw;
  }

  .chat {
    margin-top: 0.25vw;
  }

  .message-left {
    background-color: #e2e3f5;
    width: 80%;
    padding: 0.5vw;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 0.75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
  }

  .message-right {
    background-color: #e2e3f5;
    width: 80%;
    padding: 0.5vw;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 0.75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
  }

  .timestamp {
    color: #141414;
    font-weight: 900;
    align-self: flex-end;
    justify-self: flex-end;
    padding: 1.5vw;
  }

  .chat-footer-icon {
    height: 2.5vw;
  }

  body {
    height: 100vh;
    background-color: #f8f8f8;
  }

  main {
    display: grid;
    grid-template-columns: 33.33vw 33.33vw 33.33vw;
    grid-template-rows: 1fr;
  }
}
